@import "tailwindcss";

@theme {
  /* Colores extraídos exactamente del logo */
  --color-primary-light: #fcfaf7;
  /* Crema del papel */
  --color-primary: #4a3f35;
  /* Marrón oscuro del texto 'Creaciones' */
  --color-primary-dark: #352d26;

  --color-accent: #f1a5b1;
  /* Rosa del lazo y flores */
  --color-accent-dark: #cc8b96;

  --color-sage: #95a381;
  /* Verde oliva de las hojas */
  --color-sage-light: #d4dbc9;

  --color-secondary-light: #f8f5f2;
  --color-secondary: #e8e2d9;
  --color-secondary-dark: #5d4b3e;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-lg;
  }
}